NODE_ENV=development

# The base URL of the backend API
API_BASE_URL=http://localhost:8080

# The base URL of this frontend
APP_BASE_URL=http://localhost:3000

# PostHog configuration for analytics
VITE_PUBLIC_POSTHOG_PROJECT_TOKEN=
VITE_PUBLIC_POSTHOG_API_HOST=https://us.i.posthog.com
VITE_PUBLIC_POSTHOG_UI_HOST=https://us.posthog.com
